[Desktop Entry]
Name=Arran's Jules Client
Comment=Arrans Flutter based jules client
Exec=arrans_jules_client
Icon=com.arran4.flutter_jules
Terminal=false
Type=Application
Categories=Utility;
